@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

/** Base **/
body, html, #root {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #c9e1ff0d;
    font-family: 'Albert Sans', 'Roboto', sans-serif;
}

/** TABLE **/
.AppTable {
    display: table;
    width: 100%;
    height: 100%;
}

.AppTableRow {
    display: table-row;
}

.AppTableCell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

/** APP HEADER **/
.App header {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    height: 70px;
    position: relative;
}

/** APP BODY **/
.App main {
    display: table-cell;
    width: 100%;
    position: relative;
    vertical-align: middle;
    padding-bottom: 130px;
}

/** FOOTER **/
.App footer {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    background-color: #2298db;
    position: relative;
}

.App .Footer {
    padding-top: 80px;
    padding-bottom: 60px;
}

.App .Footer .TextSmall {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}

.App .Footer .TextSmall a {
    font-weight: bold;
    color: white;
    text-decoration-color: white;
}

.App .Footer .Text {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.App .Footer .Line {
    height: 1px;
    background-color: white;
    margin-top: 70px;
    margin-bottom: 50px;
    opacity: 0.2;
}

.App .Footer .Buttons {
    text-align: right;
}

.App .Footer .Copy {
    color: #ffffffd9;
    font-size: 15px;
    padding-top: 10px;
}

/** Custom Mui **/
.App .Page .MuiGrid-item {
    margin: 0 auto;
}

.App .Page .GridLeft {
    margin: initial;
}

.App .MuiAlert-icon {
    padding-top: 7px;
}

.App .MuiAlert-action {
    padding-top: 5px;
}