/** BlogList **/
.BlogList .BlogItemContent .BlogItemSubtitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.BlogList .MuiCardHeader-root {
    display: inherit;
}

.BlogList .MuiCardHeader-content .MuiCardHeader-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.BlogList .MuiCardHeader-root {
    padding-bottom: 0;
}