/** INDEX BlockMain **/
@media (max-width: 700px) {
    .Index .BlockMain .Title-ru {
        font-size: 80px;
    }
    .Index .BlockMain .Title-en {
        font-size: 105px;
    }
}

@media (max-width: 700px) {
    .Index .BlockMain .Title-en {
        font-size: 105px;
    }
    .Index .BlockSkills {
        padding-bottom: 60px;
    }
}

@media (max-width: 450px) {
    .Index .BlockMain .Title-ru {
        font-size: 64px;
    }
}

@media (max-width: 400px) {
    .Index .BlockMain .Title-en {
        font-size: 80px;
    }
}

@media (min-width: 700px) {
    .Index .BlockMain .Subtitle-ru {
        font-size: 32px;
    }
}