/** ROOT BG ANIMATION **/
.Root-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    max-height: 1300px;
    overflow-x: hidden;
    opacity: 0.15;
    background-color: #8e8eff;
}

.Root-bg .Circle {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0 35px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.Root-bg .Square {
    position: absolute;
    width: 300px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 35px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.Root-bg .Square-1 {
    width: 442px;
    height: 442px;
    right: -152px;
    bottom: 110px;
    transform: rotate(117deg);
    background-color: #51EAFF;
}

.Root-bg .Square-2 {
    width: 350px;
    height: 350px;
    top: -203px;
    right: -96px;
    left: 100px;
    margin: 0 auto;
    transform: rotate(242deg);
    background-color: #FFFCBB;
}

.Root-bg .Square-3 {
    width: 300px;
    height: 300px;
    left: 200px;
    top: 230px;
    transform: rotate(76deg);
    background-color: #76FEC5;
}

.Root-bg .Circle-1 {
    width: 480px;
    height: 480px;
    left: -65px;
    bottom: 100px;
    background-color: #FFCB8B;
}

.Root-bg .Circle-2 {
    width: 150px;
    height: 150px;
    left: 100px;
    top: 200px;
    background-color: #FFDFDC;
}

.Root-bg .Circle-3 {
    width: 300px;
    height: 300px;
    right: 110px;
    top: 35px;
    background-color: #FFBEED;
}

/** INDEX BlockMain **/
.Index .BlockMain .AppTableCell {
    position: relative;
    padding-bottom: 145px;
}

.Index .BlockMain .BottomButton {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50px;
}

/** INDEX BlockAbout **/
.Index .BlockAbout .Line {
    height: 3px;
    width: 40px;
    background-color: #2298db;
}

/** INDEX BlockCards **/
.Index .BlockCards .MuiCardMedia-root {
    height: 350px;
}

/** INDEX BlockResume **/
.Index .BlockResume .Title {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 60px;
    text-align: center;
}

.Index .BlockResume .ItemTitle {
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
}

.Index .BlockResume .ItemTime {
    color: #444444;
}

.Index .BlockResume .ItemText {
    font-size: 20px;
    font-weight: 300;
}

.Index .BlockResume .Line {
    height: 1px;
    background-color: #b1b1b1;
    margin: 30px 0;
}

.Index .BlockResume .ButtonBlock {
    text-align: center;
    margin-top: 60px;
}

/** INDEX BlockProjects **/
.Index .BlockProjects {
}

/** INDEX BlockSkills **/
.Index .BlockSkills .Title {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 60px;
    text-align: center;
}

.Index .BlockSkills .MuiPaper-root {
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

.Index .BlockSkills .MuiTypography-root {
    text-transform: uppercase;
    font-size: 22px;
}

.Index .BlockSkills .MuiAlert-icon {
    padding-top: 10px;
}