/** ProjectsList **/
.ProjectsList .ProjectsItemContent .ProjectsItemSubtitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.ProjectsList .MuiCardHeader-content .MuiTypography-h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.ProjectsList .MuiPaper-elevation8 {
    box-shadow: 0 5px 5px -3px rgb(0, 0, 0, 20%), 0 8px 10px 1px rgb(90, 193, 64, 14%), 0 3px 14px 2px rgb(0, 0, 0, 12%);
}